page-home {
.button{
  background-color:lightgray;
  color:black;
}
h1{
    color: brown;
}
h2{
    color: brown;
}
h3{
    color: brown;
}
hr{
background-color: brown;
    height: 1%;
}
button{
    
    background-color: darkgray;
}

ion-input{
    color:brown;
    text-align: center
}
ion-checkbox{
    color:brown;
    text-align: center
}

ion-item{
    text-align: center;
}
ion-content{
    text-align: center;
}

.toolbar-background{
    text-align: center;
    background-color:brown;
    color:wheat;
}
ion-title{
    text-align:center;
}

}